template(name='courses')
    .ui.container
        .ui.stackable.grid
            .twelve.wide.column
                h1.ui.horizontal.divider.header courses
                // .ui.cards
                .ui.relaxed.divided.items
                    each courses
                        +course_item
            .four.wide.column
                if currentUser
                    #add_course.ui.large.basic.fluid.button
                        i.plus.icon
                        |add course


            
template(name='course_item')
    .item
        .content
            a.header(href="/course/view/#{_id}") #{title}
            .description
                a(href="/course/view/#{_id}") 
                    |view
                    i.arrow.right.icon
            .extra
                i.tags.icon
                each tags
                    .ui.compact.tiny.button.course_tag(class=tag_class) #{this}
            if is_teacher
                .extra
                    i.red.configure.large.icon


template(name='edit_course')
    with course
        .ui.container
            .ui.center.aligned.header edit course
            .ui.form
                .field
                    label title
                    input#title(type='text' value=title)
                .field
                    label tags
                    each tags
                        .ui.basic.button.doc_tag
                            i.minus.icon
                            |#{this}
                    .ui.left.icon.four.wide.input
                        i.add.icon
                        input#add_tag(type='text' placeholder='add...' maxlength='50')
                .ui.center.aligned.basic.segment
                    if tags
                        #save_course.ui.huge.green.button save
                    #delete_course.ui.red.button delete

template(name='course_page')
    .ui.container
        with course_ob
            h1.ui.header #{title}
            .ui.stackable.grid
                .twelve.wide.column
                    #add_module.ui.basic.button
                        i.plus.icon
                        |add module
                    .ui.header modules    
                    .ui.divided.items
                        each modules
                            +module_item
                        
                .four.wide.column
                    each tags
                        .ui.basic.label #{this}
                    if can_edit
                        a(href="/course/edit/#{_id}").ui.basic.fluid.button edit
