template(name='posts')
    .ui.container
        if currentUser
            #add_post.ui.large.icon.basic.button
                i.plus.icon
        +cloud filter='post'
        .ui.hidden.divider
        .ui.centered.grid
            .ten.wide.column
                each posts
                    +post_item


template(name='post_card')
    .ui.fluid.card
        .ui.centered.image
            a(href="/post/view/#{_id}")
                img(src="{{c.url image_id  height=300 crop='fill' gravity='face' }}")
        .content
            .header
                a(href="/post/view/#{_id}")
                    h2.ui.header #{title}
            if publish_date
                .meta
                    | Published #{publish_when}
            .description
                |#{snippet}
                // |!{description}
        .content
            each tags
                .ui.compact.button.post_tag(class=tag_class) #{this}
            if isInRole 'admin'
                .edit_post.ui.primary.basic.right.floated.button
                    i.pencil.icon
                    |Edit Post    
        .content
            +favorite

            
template(name='post_item')
    | !{body}
    a.ui.basic.icon.button(href="/post/view/#{_id}") 
        i.arrow.right.icon