template(name='products')
    .ui.container
        // #blog_slider(style='width: 1000px; height: 500px;')
        //     .ls-slide(data-ls='slidedelay: 2000;')
        //         img.ls-bg(src="{{c.url 'impact_collage' effect='art:primavera'}}", alt='Slide background')
        //         h1.ls-l.overlay-text.slider-text(style="top: 50%; text-size: 500%;") 
        //             | Our Stories
        // .ui.hidden.divider
        .ui.stackable.divided.grid
            .twelve.wide.column
                h1.ui.horizontal.divider.header marketplace
                // .ui.cards
                .ui.relaxed.divided.items
                    each products
                        +product_item
            .four.wide.column
                +cloud filter='product'
                if currentUser
                    +add filter='product'


template(name='product_card')
    .ui.fluid.card
        .ui.centered.image
            a(href="/product/view/#{_id}")
                img(src="{{c.url image_id  height=300 crop='fill' gravity='face' }}")
        .content
            .header
                a(href="/product/view/#{_id}")
                    h2.ui.header #{title}
            if publish_date
                .meta
                    | published #{publish_when}
            .content
                |!{content}
        .content
            each tags
                .ui.compact.button.product_tag(class=tag_class) #{this}
            if isInRole 'admin'
                .edit_product.ui.primary.basic.right.floated.button
                    i.pencil.icon
                    |edit product    
        .content
            +favorite

            
template(name='product_item')
    .item
        a.image(href="/product/view/#{_id}")
            img.ui.rounded.image(src="{{c.url image_id  width=175 height=175 crop='fill' gravity='face' }}")
        .content
            a.header(href="/product/view/#{_id}") #{title}
            .content
                p !{content}
                a(href="/product/view/#{_id}") 
                    |view more
                    i.arrow.right.icon
            .extra
                i.tags.icon
                each tags
                    .ui.compact.tiny.button.product_tag(class=tag_class) #{this}
            if isInRole 'admin'
                .extra
                    i.red.configure.large.icon
                    if published
                        .ui.green.label published
                    else
                        .ui.red.label unpublished                        
                    if featured
                        .ui.green.label featured
                    else
                        .ui.red.label unfeatured


template(name='product_page')
    with product
        .ui.container
            a.ui.top.left.attached.basic.button(href="/products")
                i.arrow.left.icon
                |marketplace
            if image_id
                img.ui.centered.image(src="{{c.url image_id height=500 width=800 background='white' crop='lpad'}}")
            .ui.stackable.divided.grid
                .eleven.wide.column
                    h1.ui.center.aligned.header #{title}
                    |!{content}
                .five.wide.column
                    .ui.horizontal.divider.header price $#{price}
                    +add_to_cart
                    .ui.horizontal.divider.header tags
                    each tags
                        .ui.basic.label #{this}
                    +user_card
                    if can_edit
                        .ui.horizontal.divider.header 
                            i.red.configure.icon
                            |admin
                        a.ui.basic.fluid.button(href="/product/edit/#{_id}")
                            i.pencil.icon
                            |edit
                        if published
                            .ui.green.fluid.label published
                        else
                            .ui.red.fluid.label unpublished
                            
                            
                            
template(name='edit_product')
    with product
        .ui.container
            .ui.center.aligned.header edit product
            .ui.form
                +title
                +image
                +content
                +tags
                +price
                +published
                if tags
                    #save_product.ui.green.button 
                        i.check.icon
                        |save
                +delete
