template(name='questions')
    .ui.container
        h1.ui.horizontal.divider.header questions
        .ui.centered.cards
            each questions
                +question_card


            
template(name='question_item')
    .ui.segment
        .content
            .description
                |!{text}
            .ui.list
                each answers
                    .item
                        if right
                            .ui.green.basic.label right
                        else
                            .ui.red.basic.label wrong
                        span #{answer}
            .extra.content
                a(href="/question/view/#{_id}").ui.basic.button 
                    i.right.arrow.icon
                    |view
                a(href="/question/edit/#{_id}").ui.basic.button 
                    i.pencil.icon
                    |edit
                if complete
                    i.green.check.icon


template(name='edit_question')
    with question
        .ui.container
            h1.ui.center.aligned.header edit question
            .froala-container
                +froalaReactive getFEContext
            .ui.hidden.divider
            h1.ui.header answers
            #add_answer.ui.basic.icon.button
                i.plus.icon
            each answers
                +answer
            .ui.center.aligned.basic.segment
                #save_question.ui.huge.green.button save
                #delete_question.ui.red.button delete
                        
                        
template(name='answer')
    .ui.segment(class=answer_segment_class)
        .ui.form
            .field
                label choice
                input.answer(type='text' value=answer)
            .field
                label response
                input.response(type='text' value=response)
            if right
                .make_wrong.ui.green.button right
            else
                .make_right.ui.red.button wrong
            #remove_response.ui.red.basic.icon.small.button
                i.remove.icon
        

template(name='question_page')
    with question
        .ui.text.container
            a.ui.basic.button(href="/module/admin_view/#{module_id}") 
                i.left.arrow.icon
                |back to #{module.title} admin
            if can_edit
                a(href="/question/edit/#{_id}").ui.basic.button 
                    i.configure.icon
                    |edit question
            .ui.padded.segment
                |!{text}
                .ui.divider
                each answers
                    .pick_answer.ui.big.basic.button(class=answer_class) #{answer}
                    if selected_answer
                        .ui.header #{response}
                    .ui.hidden.divider
                if is_answered
                    .ui.basic.button
                        |next
                        i.right.arrow.icon


