template(name='questions')
    .ui.container
        h1.ui.horizontal.divider.header questions
        .ui.centered.cards
            each questions
                +question_card


            
template(name='question_item')
    .ui.segment
        .content
            .description
                |!{text}
            .ui.list
                each answers
                    .item
                        .header #{answer}
                        if right
                            .ui.green.basic.label right
                        else
                            .ui.red.basic.label wrong
            .extra.content
                a(href="/question/view/#{_id}").ui.basic.button view
                a(href="/question/edit/#{_id}").ui.basic.button edit
                if complete
                    i.green.check.icon


template(name='edit_question')
    with question
        .ui.text.container
            .ui.center.aligned.header edit question
            .ui.form
                .field
                    .froala-container
                        +froalaReactive getFEContext
            .ui.form
                .ui.header 
                    |answers
                #add_answer.ui.basic.icon.button
                    i.plus.icon
                each answers
                    .ui.segment
                        +answer
            .ui.center.aligned.basic.segment
                #save_question.ui.huge.green.button save
                #delete_question.ui.red.button delete
                        
                        
template(name='answer')
    .field
        .ui.left.action.input
            if right
                .make_wrong.ui.green.button right
            else
                .make_right.ui.red.button wrong
            input.answer(type='text' value=answer)
    .field
        label response
        input.response(type='text' value=response)
        

template(name='question_page')
    with question
        .ui.text.container
            a.ui.basic.button(href="/module/admin_view/#{module_id}") 
                i.left.arrow.icon
                |back to #{module.title} admin
            .ui.basic.padded.segment
                .ui.header 
                    |!{text}
                    if can_edit
                        a(href="/question/edit/#{_id}").ui.basic.button edit
                each answers
                    .pick_answer.ui.big.basic.button(class=answer_class) #{answer}
                    if selected_answer
                        .ui.header #{response}
                    .ui.hidden.divider
                if is_answered
                    .ui.basic.button
                        |next
                        i.right.arrow.icon


